body{
    background-image: url("fundo.jpg");
    background-repeat: space;
    background-size: cover;
}

div#computador
{
    background-color: rgba(255, 255, 255, 0.062);
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    color: white;
    
}
div#jogador1
{
    background-color: rgba(255, 255, 255, 0.062);
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    color: white;
    
}
h1
{
    text-align: center;
    color: white;
}
#soma_atual
{
    color: white;
    text-align: center;
}
#soma
{
    color: white;
    text-align: center;
}
h5
{
    color: white;
    text-align: center;
}

h4
{
    color: yellow;
}
h3
{
    color: white;
}

